


$yellow-button-backgound: #fffc39;
$font-text: #feceab;
$pink-card: #e84a5f;
$pink-new: #ff847c;

$sp0: 0.5rem;
$sp1: 1rem;
$sp2: 2rem;
$sp3: 2.5rem;
$sp4: 3rem;
$sp5: 4rem;
$sp6: 6rem;

$sm: 680px;
$xl: 1280px;