

@import "./Base/reset";

@import "./utils/variables";

@import "./Container/carContainer";

@import "./Container/card"; 

@import "./Container/_questions.scss";

@import "./Container/options";

@import "./Layout/body";