@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Dosis&family=Henny+Penny&family=Kranky&family=Lobster&family=Lora&family=Pacifico&display=swap');

.card-container{
    border-radius: 30%;
    
}

.title{
    margin-top: 30px;
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Henny Penny', cursive;
    text-transform: uppercase;
    font-size: 40px;
    
}

.category{
    color: whitesmoke;
}

.title-container{
    display: flex;
    flex-direction: column;
}
