.card{
    height: 250px;
    margin: 20px auto;
    border-radius: 30%;
    box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
}

.card-img-top{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    
}


.name {
    color: whitesmoke;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 5%, rgba(0,212,255,1) 87%, rgba(121,9,50,1) 100%);
    position: absolute;
    margin-top: 190px;
    margin-left: 70px;
    width: 150px;
    border-radius: 30px;
    border: none;
}

